<main>
    <div class="container">
        <button style="margin-left: 40px; margin-top: 40px;" (click)="onProject()" class="btn btn-primary">
            <i class="fas fa-arrow-left me-3"></i>
        </button>
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4" @fadeIn>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <!-- Logo -->
                        <div class="d-flex justify-content-center py-4">
                            <a href="" class="logo d-flex align-items-center w-auto">
                                <span class="d-none d-lg-block"><i class="fas fa-plus-circle me-3"></i><span class="custom-font">Add Project</span></span>
                            </a>
                        </div>
                        <p class="text-center small">Provide the project's details to create a new project</p>
                        <!-- End Logo -->

                        <div class="">
                            <div class="card-body">

                                <!-- Form begins -->
                                
                                <form (ngSubmit)="onSubmit()" #projectForm="ngForm" class="row g-3 needs-validation" novalidate>
                                    <!-- Name -->
                                    <div class="col-12">
                                        <label for="name" class="form-label">Name</label>
                                        <input type="text" id="name" [(ngModel)]="newProject.name" name="name" class="form-control" required>
                                        <div class="invalid-feedback">Please, enter the project name!</div>
                                    </div>

                                    <!-- Description -->
                                    <div class="col-12">
                                        <label for="description" class="form-label">Description</label>
                                        <input type="text" id="description" [(ngModel)]="newProject.description" name="description" class="form-control" required>
                                        <div class="invalid-feedback">Please, enter the project description!</div>
                                    </div>

                                    <!-- Start Date -->
                                    <div class="col-12">
                                        <label for="startDate" class="form-label">Start Date</label>
                                        <input type="date" id="startDate" [(ngModel)]="newProject.startDate" name="startDate" class="form-control" required>
                                        <div class="invalid-feedback">Please, enter the start date!</div>
                                    </div>

                                    <!-- End Date -->
                                    <div class="col-12">
                                        <label for="endDate" class="form-label">End Date</label>
                                        <input type="date" id="endDate" [(ngModel)]="newProject.endDate" name="endDate" class="form-control" required>
                                        <div class="invalid-feedback">Please, enter the end date!</div>
                                    </div>

                                    <!-- Upload Image -->
                                    <div class="col-12">
                                        <label for="file" class="form-label">Upload Image</label>
                                        <input type="file" (change)="onFileChange($event)" name="file" accept="image/*" class="form-control" required>
                                        <div class="invalid-feedback">Please, upload an image!</div>
                                    </div>

                                    <!-- Submit Button -->
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary mt-3">Add Project</button>
                                    </div>
                                </form>
                                <!-- Form ends -->

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>
    </div>
</main>
