<html lang="en">
    <body>

        

<!-- Navbar & Hero Start -->
<div class="container-fluid header position-relative overflow-hidden p-0">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a routerLink="/" class="navbar-brand p-0">
            <h1 class="display-6 text-primary m-0"><!--img src="assets/img/pmtlogo.png" alt="Logo"--><i class="fas fa-cog me-3"></i> PMT</h1>
             
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                
                <a routerLink="/contact"   class="nav-item nav-link">Contact Us</a>
            </div>
            <a routerLink="/login" class="btn btn-light border border-primary rounded-pill text-primary py-2 px-4 me-4">Log In</a>
            <a routerLink="/signup" class="btn btn-primary rounded-pill text-white py-2 px-4">Sign Up</a>
        </div>
    </nav>


    <!-- Hero Header Start -->
    <div class="hero-header overflow-hidden px-5">
        <div class="rotate-img">
            
            <img src="assets/img/sty-1.png" class="img-fluid w-100" alt="HHHHH">
            <div class="rotate-sty-2"></div>
        </div>
        <div class="row gy-5 align-items-center">
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
                <h1 class="display-4 text-dark mb-4 wow fadeInUp" data-wow-delay="0.3s">Effortlessly Manage Your Projects with PMT</h1>
                <p class="fs-4 mb-4 wow fadeInUp" data-wow-delay="0.5s">PMT is a collaborative platform designed to help teams plan, track, and manage their projects effortlessly</p>
                <a  routerLink="/login" class="btn btn-primary rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.7s">Get Started</a>
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.2s">
                <img src="assets/img/hhhhhhhhhh.png" class="img-fluid w-100 h-100" alt="">
            </div>
        </div>
    </div>
    <!-- Hero Header End -->
</div>
<!-- Navbar & Hero End -->

        <!-- About Start -->
        <div class="container-fluid overflow-hidden py-5"  style="margin-top: 6rem;">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="RotateMoveLeft">
                            <img src="assets/img/about-1.png" class="img-fluid w-100" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                        <h4 class="mb-1 text-primary">About Us</h4>
                        <h1 class="display-5 mb-4">Get Started with PMT</h1>
                        <p class="mb-4">Our powerful project management tool helps teams plan, track, and manage their work seamlessly. From organizing tasks to monitoring progress in real-time, PMT provides all the tools you need to stay productive and collaborate effortlessly. Join us and streamline your project workflow today!
                        </p>
                        <a href="#" class="btn btn-primary rounded-pill py-3 px-5">About More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Service Start -->
        <div class="container-fluid service py-5">
            <div class="container py-5">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 900px;">
                    <h4 class="mb-1 text-primary">Our Service</h4>
                    <h1 class="display-5 mb-4">What We Can Do For You</h1>
                    <p class="mb-0">At PMT, we provide the tools you need to effectively manage your projects and boost team productivity. Our platform helps you stay organized and on track, whether you're planning, assigning tasks, or collaborating with your team. With real-time updates and data-driven insights, you’ll have everything at your fingertips to ensure project success.
                    </p>
                </div>
                <div class="row g-4 justify-content-center">
                    
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item text-center rounded p-4">
                            <div class="service-icon d-inline-block bg-light rounded p-4 mb-4"><i class="fas fa-thumbs-up fa-5x text-secondary"></i></div>
                            <div class="service-content">
                                <h4 class="mb-4">Project Management </h4>
                                <p class="mb-4">Plan, organize, and manage your projects effortlessly.
                                </p>
                                <a routerLink="/login" class="btn btn-light rounded-pill text-primary py-2 px-4">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item text-center rounded p-4">
                            <div class="service-icon d-inline-block bg-light rounded p-4 mb-4"><i class="fa fa-subway fa-5x text-secondary"></i></div>
                            <div class="service-content">
                                <h4 class="mb-4">Task Tracking</h4>
                                <p class="mb-4">Keep track of tasks and ensure timely completion.
                                </p>
                                <a routerLink="/login" class="btn btn-light rounded-pill text-primary py-2 px-4">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item text-center rounded p-4">
                            <div class="service-icon d-inline-block bg-light rounded p-4 mb-4"><i class="fas fa-sitemap fa-5x text-secondary"></i></div>
                            <div class="service-content">
                                <h4 class="mb-4">Team Collaboration</h4>
                                <p class="mb-4">Collaborate seamlessly with your team, assigning and monitoring tasks.
                                </p>
                                <a routerLink="/login" class="btn btn-light rounded-pill text-primary py-2 px-4">Read More</a>
                            </div>
                        </div>
                    </div>
                    
                    
                   
                   
                </div>
            </div>
        </div>
        <!-- Service End -->


        <!-- Feature Start -->
        <div class="container-fluid feature overflow-hidden py-5">
            <div class="container py-5">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 900px;">
                    <h4 class="text-primary">Our Feature</h4>
                    <h1 class="display-5 mb-4">Unlock the Full Potential of Your Projects</h1>
                    <p class="mb-0">With PMT, you gain access to a suite of features designed to enhance productivity and streamline your project management process. From intuitive tools to real-time updates, our platform helps teams stay aligned and on track toward their goals.
                    </p>
                </div>
                <div class="row g-4 justify-content-center text-center mb-5">
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="text-center p-4">
                            <div class="d-inline-block rounded bg-light p-4 mb-4"><i class="fas fa-envelope fa-5x text-secondary"></i></div>
                            <div class="feature-content">
                                <a href="#" class="h4">Intuitive Dashboard <i class="fa fa-long-arrow-alt-right"></i></a>
                                <p class="mt-4 mb-0">Get a clear overview of all your projects and tasks in one place.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="text-center p-4">
                            <div class="d-inline-block rounded bg-light p-4 mb-4"><i class="fas fa-mail-bulk fa-5x text-secondary"></i></div>
                            <div class="feature-content">
                                <a href="#" class="h4">Real-Time Updates<i class="fa fa-long-arrow-alt-right"></i></a>
                                <p class="mt-4 mb-0">Stay informed with live updates on task progress and team activity.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="text-center rounded p-4">
                            <div class="d-inline-block rounded bg-light p-4 mb-4"><i class="fas fa-sitemap fa-5x text-secondary"></i></div>
                            <div class="feature-content">
                                <a href="#" class="h4">Collaborative Tools <i class="fa fa-long-arrow-alt-right"></i></a>
                                <p class="mt-4 mb-0">Share information, assign tasks, and communicate seamlessly with your team.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="text-center rounded p-4">
                            <div class="d-inline-block rounded bg-light p-4 mb-4"><i class="fas fa-tasks fa-5x text-secondary"></i></div>
                            <div class="feature-content">
                                <a href="#" class="h4">Detailed Reporting <i class="fa fa-long-arrow-alt-right"></i></a>
                                <p class="mt-4 mb-0"> Access comprehensive reports and insights to track performance and improve efficiency.






                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="my-3">
                            <a href="#" class="btn btn-primary d-inline rounded-pill px-5 py-3">More Features</a>
                        </div>
                    </div>
                </div>
                <div class="row g-5 pt-5" style="margin-top: 6rem;">
                    <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
                        <div class="feature-img RotateMoveLeft h-100" style="object-fit: cover;">
                            <img src="assets/img/features-1.png" class="img-fluid w-100 h-100" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.1s">
                        <h4 class="text-primary">Fearutes</h4>
                        <h1 class="display-5 mb-4">Turn Your Team into High-Performing Collaborators</h1>
                        <p class="mb-4">PMT empowers teams to achieve their project goals efficiently and seamlessly. With robust tools for task management, collaboration, and progress tracking, PMT helps your team stay organized and productive, ensuring every project is a success.
                        </p>
                        <div class="row g-4">
                            <div class="col-6">
                                <div class="d-flex">
                                    <i class="fas fa-newspaper fa-4x text-secondary"></i>
                                    <div class="d-flex flex-column ms-3">
                                        <h2 class="mb-0 fw-bold">320</h2>
                                        <small class="text-dark">Managed  Projects</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex">
                                    <i class="fas fa-users fa-4x text-secondary"></i>
                                    <div class="d-flex flex-column ms-3">
                                        <h2 class="mb-0 fw-bold">1025</h2>
                                        <small class="text-dark">Satisfied Teams</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-4">
                            <a routerLink="/login" class="btn btn-primary rounded-pill py-3 px-5">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End -->


        <!-- FAQ Start -->
        <div class="container-fluid FAQ bg-light overflow-hidden py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
                       <div class="accordion" id="accordionExample">
                            <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseTOne">
                                       
                                 Why Choose PMT?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2">
                                        <h5>Simplicity and Efficiency at the Core</h5>
                                        <p>PMT is designed with simplicity and efficiency in mind, making it the ideal tool for teams looking to streamline their project management processes. With an intuitive interface, real-time task tracking, and robust collaboration features, PMT allows your team to focus on what truly matters—delivering successful projects. Our platform is scalable and adaptable to teams of any size, ensuring that as your projects grow, PMT grows with you. Plus, the insights and reports help you stay on top of deadlines and optimize team performance.</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How Does PMT Improve Team Collaboration? 
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2">
                                        <h5>Empowering Team Collaboration</h5>
                                        <p>PMT enhances team collaboration by providing a centralized platform where everyone can contribute and stay aligned. With features like task assignments, shared dashboards, and real-time updates, each team member knows their responsibilities and the progress of the overall project. The tool encourages transparency and accountability, reducing the need for constant follow-ups and meetings. PMT also integrates communication tools to ensure that everyone is always connected, improving overall workflow and ensuring projects are completed on time</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item border-0">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Can PMT Be Customized to Fit Our Workflow?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2">
                                        <h5>Customizable to Fit Your Workflow</h5>
                                        <p>Absolutely! PMT is designed to be flexible and adaptable, making it easy to tailor the platform to suit your team’s unique workflow. Whether you’re managing a small project or a large-scale initiative, you can customize project templates, user roles, and task priorities. You can also integrate PMT with other tools your team is already using, such as time-tracking or communication apps. This ensures that PMT not only fits into your current setup but also enhances it, allowing your team to work more efficiently and productively.</p>
                                       
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
                        <div class="FAQ-img RotateMoveRight rounded">
                            <img src="assets/img/about-1.png" class="img-fluid w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FAQ End -->


       


        <!-- Blog Start -->
        <div class="container-fluid blog py-5">
            <div class="container py-5">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 900px;">
                    <h4 class="text-primary">Our Projects</h4>
                    <h1 class="display-5 mb-4">Join Us For New Projects</h1>
                    <p class="mb-0">At PMT, we are committed to enhancing collaboration and efficiency in project management. Our application enables teams to seamlessly plan, track, and manage their projects with ease. Here are some of the key projects we've implemented to showcase the capabilities of our tool
                    </p>
                </div>
                <div class="row g-4 justify-content-center">
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="assets/img/LI.jpg" class="img-fluid w-100" alt="">
                                <div class="blog-info">
                                    <span><i class="fa fa-clock"></i> Dec 01.2024</span>
                                    <div class="d-flex">
                                        <span class="me-3"> 3 <i class="fa fa-heart"></i></span>
                                        <a href="#" class="text-white">0 <i class="fa fa-comment"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content text-dark border p-4 ">
                                <h5 class="mb-4">Task Tracking Application</h5>
                                <p class="mb-4">A web-based tool for efficiently managing tasks, allowing users to create, update, and track their status in real time. It enhances productivity with features like task assignments and deadline reminders</p>
                                <a class="btn btn-light rounded-pill py-2 px-4" routerLink="/login">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="assets/img/1680615089466.jpg" class="img-fluid w-100" alt="">
                                <div class="blog-info">
                                    <span><i class="fa fa-clock"></i> Dec 01.2024</span>
                                    <div class="d-flex">
                                        <span class="me-3"> 3 <i class="fa fa-heart"></i></span>
                                        <a href="#" class="text-white">0 <i class="fa fa-comment"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content text-dark border p-4 ">
                                <h5 class="mb-4">Healthcare Mobile App</h5>
                                <p class="mb-4">A user-friendly app for patients to book appointments, access medical records, and receive medication reminders, enhancing communication with healthcare providers.</p>
                                <a class="btn btn-light rounded-pill py-2 px-4" routerLink="/login">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="assets/img/1694398486445.jpg" class="img-fluid w-100" alt="">
                                <div class="blog-info">
                                    <span><i class="fa fa-clock"></i> Dec 01.2024</span>
                                    <div class="d-flex">
                                        <span class="me-3"> 3 <i class="fa fa-heart"></i></span>
                                        <a href="#" class="text-white">0 <i class="fa fa-comment"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content text-dark border p-4 ">
                                <h5 class="mb-4">Corporate Training Program</h5>
                                <p class="mb-4">A project to create and deliver training sessions for employees, focusing on skill enhancement and progress evaluation to promote ongoing development within the organization.</p>
                                <a class="btn btn-light rounded-pill py-2 px-4" routerLink="/login">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="assets/img/700600p546EDNmainimg-project-issues1.jpg" class="img-fluid w-100" alt="">
                                <div class="blog-info">
                                    <span><i class="fa fa-clock"></i> Dec 01.2024</span>
                                    <div class="d-flex">
                                        <span class="me-3"> 3 <i class="fa fa-heart"></i></span>
                                        <a href="#" class="text-white">0 <i class="fa fa-comment"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content text-dark border p-4 ">
                                <h5 class="mb-4">Performance Monitoring Application</h5>
                                <p class="mb-4">A tool to track employee performance metrics, offering real-time analytics for productivity assessment and improvement.






                                </p>
                                <a class="btn btn-light rounded-pill py-2 px-4" routerLink="/login">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->




    </body>
    <app-footer></app-footer>

    </html>