
<div class="card-body" @fadeIn>
    <h5 class="card-title">Recent Tasks <span>| Today    </span>  </h5>

    <table class="table table-borderless datatable">
        <thead>
          <tr>
          
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Assigned to </th>
           
            <th scope="col">actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks; let i = index">
            <td> <span class="text-primary fw-bold">{{ task.title }}</span></td>

       <td>
      <span [ngClass]="{
          'status-in-progress': task.status === 'in progress',
          'status-completed': task.status === 'completed',
          'status-pending': task.status === 'in review',
          'status-not-started': task.status === 'not started'
        }">{{ task.status }}</span>
    </td>
    
            <td>{{ task.user.firstName }} {{ task.user.lastName }}</td>
        
          
            
 
<td>
  
  <button (click)="deleteTask(task.id)" style="margin-left: 10px;"  class="btn btn-primary">
    <i class="fas fa-trash"></i> 
  </button>
</td>

          </tr>
        </tbody>
      </table>

  </div>